@import 'colors';

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin input-ui {
  background: $white;
  border: 2px solid $gray;
  padding: 10px;
  border-radius: 8px;

  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $dark;

  &::placeholder {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray2;
  }

  &:focus {
    border-color: $orange;
    outline: none;
  }
}

@mixin checkbox-ui {
  width: 20px;
  height: 20px;
  max-width: 20px;
  min-width: 20px;
  max-height: 20px;
  min-height: 20px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: block;

  input {
    position: absolute;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid $white;
  }

  img {
    visibility: hidden;
    width: 12px;
    @include center-absolute;
  }

  input:checked ~ span {
    background: $orange;
    border: none;
  }

  input:checked ~ img {
    visibility: visible;
  }
  input {
    visibility: hidden;
  }
}
