@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Prosto+One&display=swap');

@import 'mixins';
@import 'colors';
@import 'breakpoints';
@import 'intl-tel-input/build/css/intlTelInput.min.css';

* {
  box-sizing: border-box;
}

.content {
  max-width: $desktop;
  margin: auto;

  @media screen and (max-width: $desktop) {
    max-width: $tablet;
  }
}

.input-ui {
  @include input-ui;
  width: 100%;
}

.checkbox-ui {
  @include checkbox-ui;
}

section.feedback {
  .feedback_wrapper {
    display: flex;
    border-radius: 40px;
    overflow: hidden;

    @media screen and (max-width: $desktop) {
      flex-direction: column;
    }

    @media screen and (max-width: $tablet) {
      border-radius: 0;      
    }

    form.form {
      width: 880px;
      background: $darkPurple;
      padding: 60px;
      position: relative;

      @media screen and (max-width: $desktop) {
        width: 100%;
      }

      @media screen and (max-width: $tablet) {
        padding: 40px 24px;
      }

      .bgFeedback {
        position: absolute;
        width: 273px;
        right: 0;
        top: 0;

        @media screen and (max-width: $tablet) {
          display: none;
        }
      }

      .title {
        font-family: Prosto One;
        font-weight: 400;
        font-size: 42px;
        line-height: 44px;
        color: $white;
        margin-bottom: 12px;

        @media screen and (max-width: $tablet) {
          font-size: 32px;
        }
      }

      .pre_title {
        font-family: Jost;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: $white;
        margin-bottom: 40px;

        @media screen and (max-width: $tablet) {
          font-size: 18px;
        }
      }

      .wrapper_inputs {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 500px;

        @media screen and (max-width: $desktop) {
          width: 420px;
        }

        @media screen and (max-width: $tablet) {
          width: 100%;
        }
      }

      .approval {
        display: flex;
        gap: 8px;
        width: 500px;
        margin-top: 24px;
        cursor: pointer;

        @media screen and (max-width: $desktop) {
          width: 420px;
        }

        @media screen and (max-width: $tablet) {
          width: 100%;
        }

        .approval_description {
          font-family: Jost;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: $white;
        }
      }

      .group_buttons {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 24px;

        @media screen and (max-width: $tablet) {
          flex-direction: column;
          align-items: stretch;
        }

        button.send {
          padding: 12px;
          border-radius: 8px;
          background: $orange;
          border: none;
          cursor: pointer;

          font-family: Jost;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $white;
        }

        .send_telegram {
          text-decoration: none;
          display: flex;
          justify-content: center;
          gap: 8px;
          padding: 12px;
          background: $lightPurple2;
          border-radius: 8px;

          img {
            width: 24px;
          }
          span {
            font-family: Jost;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $white;
          }
        }
      }
    }

    .wrapper_content {
      width: 600px;
      background: $lightPurple;
      padding: 60px;

      @media screen and (max-width: $desktop) {
        width: 100%;
      }

      @media screen and (max-width: $tablet) {
        padding: 40px 24px;
      }

      .title {
        font-family: Prosto One;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        color: $white;

        @media screen and (max-width: $tablet) {
          font-size: 18px;
        }
      }

      .wrapper_description {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;

        @media screen and (max-width: $desktop) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .description_item {
          display: flex;
          align-items: center;
          gap: 16px;

          @media screen and (max-width: $desktop) {
            width: 296px;
          }

          .wrapper_icon {
            width: 64px;
            height: 64px;
            border-radius: 16px;
            background: $white;
            position: relative;
            flex-shrink: 0;

            @media screen and (max-width: $tablet) {
              width: 48px;
              height: 48px;
            }

            img.icon {
              width: 32px;
              @include center-absolute;

              @media screen and (max-width: $tablet) {
                width: 24px;
              }
            }
          }
          .description {
            font-family: Jost;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: $white;

            @media screen and (max-width: $tablet) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
